*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(4, 59, 79, 0.888);
}
.container{
    border-radius: 10px;
    width: 25rem;
    height: 25rem;
}
.container h1{
    color: white;
    padding-bottom: 10%;
    text-align: center;

}
.timer{    
/* width: 100%; */
    background-color: aliceblue;
    color: rgb(216, 36, 72);
    /* margin-top: 0%; */
    margin-bottom: 20%;
    padding: 9% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px #213446;
    
}
.timer-box{
    /* width:100%; */
    font-size: 20px;
    font-weight: bold;
 
    /* width: 100%; */
    /* margin-top: 0%; */
    /* margin-bottom: 20%; */
    padding: 9% 9%;
    background-color: #192a3a;
    border-radius: 10px;
}
.button{ 
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
}
.btn {
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    /* box-shadow: 0px 1px 1px 0px #111f29; */

}